body {
	font-family: "Syne Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: #000;
	color: #2c3e50;
	margin: 0px 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

#videos {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#remoteVideo {
	display: none;
}

#remoteVideo.active {
	display: block;
	width: 100%;
	height: 100%;
	background: #000000;
}

#webcamVideo.active {
	position: absolute;
	top: 15px;
	right: 40px;
	width: 250px;
	height: 188px;
	background: #000000;
	border-radius: 7px;
	box-shadow: 1px 1px 8px #000;
}

#webcamVideo {
	width: 100%;
	height: 100%;
	background: #000000;
}

#btn-video-call-container {
	background-color: rgba(0, 0, 0, 0.356);
	padding: 10px 10px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	align-items: center;
}

#joinBtn {
	background: #34c234;
	padding: 1rem 2rem;
	border-radius: 50px;
	color: #fff;
	font-weight: 700;
	border: none;
	outline: none;
}

#joinBtn:hover {
	background: #38d038;
	transform: scale(1.01);
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.214);
}

#joinBtn:disabled {
	background: #84a184;
}

#hangupButton {
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: #fff;
	background: #cb1414;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	outline: none;
}

#hangupButton i {
	transform: rotate(133deg);
}

#hangupButton:hover {
	background: #df1616;
}

#videos.active #btn-video-call-container {
	display: none;
}

#videos:hover.active #btn-video-call-container {
	display: block;
}

#hideLocalVideoBtn {
	position: absolute;
	z-index: 1000;
	top: 20px;
	right: 45px;
	border: none;
	border-radius: 50%;
	outline: none;
	background-color: black;
	color: white;
	opacity: 0.6;
	height: 30px;
	width: 30px;
}

#hideLocalVideoBtn:hover {
	opacity: 1;
}

#hideLocalVideoBtn:focus {
	outline: none;
}

.operation-btn {
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: none;
	color: #fff;
	background: #4d4c4c;
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	outline: none;
	border: none;
}

.operation-btn:hover {
	background: #6e6d6d !important;
}

.operation-btn:focus {
	outline: none !important;
	border: none !important;
}

#indicator-container {
	position: absolute;
	top: 30px;
	left: 110px;
	align-items: center;
	text-align: center;
	width: 90vw;
}

#indicator-container .btns {
	opacity: 0.5;
}

#indicator-container .btns span {
	background-color: rgb(83, 82, 82);
	color: white;
	padding: 14px 14px;
	border-radius: 50px;
}

#indicator-container .btns .indicator {
	padding-top: 5px;
	padding-left: 10px;
}

#indicator-container .btns .indicator span {
	margin-right: 5px;
	padding: 5px 7px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 50px;
	font-size: 20px;
}

#indicator-container .btns:hover {
	opacity: 1;
}

#whiteBoard {
	width: 100%;
	height: 90%;
	display: initial;
	background-color: white;
	overflow: hidden;
}

#snackbar {
	visibility: hidden;
	min-width: 250px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	right: 5px;
	bottom: 130px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@media only screen and (max-width: 600px) {
	#webcamVideo.active {
		position: absolute;
		top: 50px;
		right: 34px;
		width: 103px;
		height: 77px;
		background: #000000;
		border-radius: 7px;
		box-shadow: 1px 1px 8px #d2d2d2;
	}

	#hideLocalVideoBtn {
		top: 52px;
		right: 37px;
	}

	#indicator-container {
		position: absolute;
		top: 15px;
		left: 85px;
		align-items: left;
		text-align: left;
		display: none;
	}

	#indicator-container .btns {
		opacity: 1;
	}

	.operation-btn {
		padding: 10px;
		width: 40px;
		height: 40px;
		border-radius: 50px;
		border: none;
		color: #fff;
		background: #4d4c4c;
		font-size: 15px;
		margin-left: 5px;
		margin-right: 5px;
		outline: none;
		border: none;
	}

	#hangupButton {
		padding: 10px;
		width: 40px;
		height: 40px;
		font-size: 15px;
	}

	#joinBtn {
		height: 40px;
		background: #34c234;
		padding: 10px 20px;
		border-radius: 50px;
		color: #fff;
		font-size: 15px;
		font-weight: 700;
		border: none;
		outline: none;
	}

	#videos.active #btn-video-call-container {
		display: block;
	}

	#videos:hover.active #btn-video-call-container {
		display: block;
	}
}

@media (min-width: 600px) and (max-width: 768px) {
	#webcamVideo.active {
		position: absolute;
		top: 17px;
		right: 13px;
		width: 160px;
		height: 122px;
		background: #000000;
		border-radius: 7px;
		box-shadow: 1px 1px 8px #000;
	}

	#indicator-container .btns {
		opacity: 1;
	}

	#videos.active #btn-video-call-container {
		display: block;
	}

	#videos:hover.active #btn-video-call-container {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	#videos {
		width: 100%;
		height: 100vh;
	}

	#webcamVideo.active {
		position: absolute;
		top: 15px;
		right: 40px;
		width: 160px;
		height: 118px;
		background: #000000;
		border-radius: 7px;
		box-shadow: 1px 1px 8px #ececec;
	}

	#hideLocalVideoBtn {
		position: absolute;
		z-index: 1000;
		top: 20px;
		right: 45px;
		opacity: 1;
	}
}
